{% extends 'base.html.twig' %}

{% block title %}Create your own quizz and play with{% endblock %}

{% block body %}
    <h1>Hello to QuizzHop !</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque magni facere quasi omnis ullam est facilis nostrum, repellat vitae, itaque dolore sapiente, culpa minus eos necessitatibus dolorum hic expedita quibusdam.</p>
{% endblock %}
